body {
    margin: 0;
}

.arkaplan {
    width: 100%;
    height: 80px;
    background-color: #15214a;
    padding-top: 20px;
}

.uygunalego {
    width: 200px;
    height: 100px;
    margin-left: 130px;
}

.group {
    height: 50;
}


.arama {
    width: 810px;
    height: 60px;
    margin-left: 400px;
    margin-top: -100px;

}

.ara {
    width: 800px;
    height: 50px;
    border-radius: 10px;


}

.aramalogo {
    width: 100px;
    height: 100px;
    margin-left: 415px;
    margin-top: -45px;

}

.sehir {
    width: 100px;
    height: 100px;
    margin-left: 1241px;
    margin-top: -112px;
}

.ist {
    font-size: 19px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tuş {
    width: 100px;
    height: 100px;
    margin-left: 220px;
    margin-top: -30px;
}

.oturumac {
    width: 200px;
    height: 100px;
    margin-left: 260px;
    margin-top: -118px;


}

.oturum {
    font-size: 21px;
    color: rgb(242, 238, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.arabanindisinindisi {
    width: 100px;
    height: 100px;
    margin-left: 27px;
    padding-top: 7px;
}

.arabanindisi {
    width: 100px;
    height: 100px;
    background-color: #6D26F2;
    border-radius: 60%;
    margin-left: -1100px;
    margin-top: 20px;
}

.araba {
    margin-left: 32px;
    padding-top: 30px;

}



.arabadisininyazisi {

    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 29px;
    margin-top: 33px;

}

.arabayazisi {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: -40px;
}




.elektronikdısınındısı {
    width: 250px;
    height: 350px;
}

.elektronikdisi {
    width: 100px;
    height: 100px;
    background-color: #F9CC4B;
    border-radius: 70%;
    margin-left: 297px;
    margin-top: 27px;

}

.elektronik {
    margin-left: 35px;
    padding-top: 34px;
}

.elektronikdisiyazisi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.elektronikyazisi {
    margin-left: 300px;
    margin-top: -248px;
    font-size: 21px;
}


.emlakdisi {
    width: 100px;
    height: 100px;
    background-color: #41A957;
    border-radius: 70%;
    margin-left: 437px;
    margin-top: -142px;

}

.emlak {

    margin-left: 34px;
    padding-top: 37px;
}

.emlakdisiyazisi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.emlakyazisi {
    margin-left: 444px;
    margin-top: -1px;
    font-size: 21px;
}

.mobilyadisinindisi {
    width: 100px;
    height: 100px;

}

.mobilyadisi {
    width: 100px;
    height: 100px;
    background-color: #00D9B1;
    border-radius: 50%;
    margin-left: 568px;
    margin-top: -147px;


}

.mobilya {
    height: 20px;
    margin-left: 33px;
    padding-top: 39px;

}

.mobilyadisiyazisi {
    margin-left: 580px;
    margin-top: -20px;
    font-size: 21px;
}

.mobilyayazisi {
    width: 100px;
    height: 100px;
}

.fitnesdisinindisi {
    width: 100px;
    height: 100px;

}

.fitnesdisi {
    width: 100px;
    height: 100px;
    background-color: #3cd9ff;
    border-radius: 50%;
    margin-left: 699px;
    margin-top: -220px;


}

.fitness {
    height: 27px;
    margin-left: 37px;
    padding-top: 40px;

}

.fitnesdisiyazisi {
    margin-left: 719px;
    margin-top: -20px;
    font-size: 21px;
}

.fitnesyazisi {
    width: 100px;
    height: 100px;

}

.bookdisinindisi {
    width: 100px;
    height: 100px;
}

.bookdisi {
    width: 100px;
    height: 100px;
    background-color: rgb(181, 117, 241);
    border-radius: 50%;
    margin-left: 835px;
    margin-top: -220px;

}

.book {
    height: 27px;
    margin-left: 37px;
    padding-top: 40px;





}

.bookdisiyazisi {
    width: 100px;
    height: 100px;

}

.bookyazisi {

    margin-left: 857px;
    margin-top: -1px;
    font-size: 21px;
}

.aletdisinindisi {
    width: 100px;
    height: 100px;
}

.aletdisi {
    width: 100px;
    height: 100px;
    background-color: #0053f9;
    border-radius: 50%;
    margin-left: 970px;
    margin-top: -200px;

}

.alet {
    height: 20px;
    margin-left: 37px;
    padding-top: 40px;

}

.aletdisiyazisi {
    margin-left: 979px;
    margin-top: -20px;
    font-size: 20px;
}

.aletyazisi {
    width: 100px;
    height: 100px;

}

.shopdisinindisi {
    width: 100px;
    height: 100px;
}

.shopdisi {
    width: 100px;
    height: 100px;
    background-color: #f82535;
    border-radius: 50%;
    margin-left: 1120px;
    margin-top: -220px;

}

.shop {
    height: 20px;
    margin-left: 35px;
    padding-top: 40px;
}

.shopdisiyazisi {
    margin-left: 1150px;
    margin-top: -20px;
    font-size: 20px;
}

.shopyazisi {
    width: 100px;
    height: 100px;
}

.fashiondisinindisi {
    width: 100px;
    height: 100px;
}

.fashiondisi {
    width: 100px;
    height: 100px;
    background-color: #beca00;
    border-radius: 50%;
    margin-left: 1257px;
    margin-top: -220px;

}

.fashion {
    height: 26px;
    margin-left: 37px;
    padding-top: 40px;
}

.fashiondisiyazisi {
    margin-left: 1277px;
    margin-top: -20px;
    font-size: 20px;
}

.fashionyazisi {
    width: 100px;
    height: 100px;
}

.spordisinindisi {
    width: 100px;
    height: 100px;
}

.spordisi {
    width: 100px;
    height: 100px;
    background-color: #00edff;
    border-radius: 50%;
    margin-left: 1400px;
    margin-top: -220px;

}

.spordisi:hover {
    box-shadow: 5px 5px 20px rgb(242, 26, 26);
}

.spor {
    height: 26px;
    margin-left: 37px;
    padding-top: 40px;
}

.spordisiyazisi {
    margin-left: 1430px;
    margin-top: -20px;
    font-size: 20px;
}

.sporyazisi {
    width: 100px;
    height: 100px;
}

.midicon {
    margin-left: 185px;
    height: 380px;
    width: 1400px;
}

.midiconbeyaz {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: white;
    margin-left: 857px;
    margin-top: -9px;
    position: relative;
    z-index: 1;
}

.ürünleryazidisinindisi {
    height: 60px;
    width: 1500px;
    margin-left: 120px;
    margin-top: 20px;
    padding-top: 35px;
}

.ürünleryazidisi {
    height: 50px;
    width: 180px;
    margin-left: 70px;
}

.ürünleryazi {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 25px;
    color: black;
}

.ürünler2yazidisi {
    height: 50px;
    width: 150px;
    margin-left: 70px;
    margin-top: -40px;
}

.ürünler2yazi {
    color: gainsboro;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ürünlerbutonyönlendirme {
    width: 27px;
    height: 26px;
    background-color: #15214a;
    text-align: center;
    border-radius: 60%;
    margin-left: 1360px;
    margin-top: -85px;
}

.ürünbutonyönlendirmeyazi {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ürün2butonyönlendirme {
    width: 27px;
    height: 26px;
    background-color: #15214a;
    text-align: center;
    border-radius: 60%;
    margin-left: 1400px;
    margin-top: -40px;
}

.ürün2butonyönlendirmeyazi {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.anaürünlerdiv {
    width: 100px;
    height: 100px;
    margin-left: 55px;
    margin-top: 30px;

}

.ürünler1 {
    width: 320px;
    height: 510px;
    border-radius: 5%;
    background-color: #fff;
    margin-left: 200px;
    margin-top: 80px;
    border: 1px;
    border-style: solid;
    padding-left: 15px;
    padding-top: 15px;
    border-color: gray;
}

.uygunahazırla1 {
    width: 75px;
    height: 20px;
    margin-block-end: 11px;
    padding-block: 12px;
    padding-inline: 16px;
    color: rgb(21, 33, 74);
    background-color: rgba(21, 33, 74, 0.1);
    display: flex;
    margin-left: -1px;
    text-align: center;
    font-size: 15px;
    font-weight: 20px;
    border-radius: 20px;

}

.uygunaarabakirala {
    border-radius: 10%;

}

.star {
    width: 120px;
    height: 25px;
    margin-left: 1px;
    margin-top: -px;
}

.ürünler1 {
    border-top: 1px solid rgb(231, 232, 236);
    display: block;
    margin-left: 2px;
    margin-top: 1px;
    height: 550px;
}

.uygunahazırla3 {
    margin-left: 20px;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 1px;
}

.uygunaclas {
    text-decoration: none;
}

.uygunahazırla4 {
    margin-left: 20px;
    font-size: 17px;
    margin-left: 3px;
    margin-top: -8px;
}

.uygunahazırla5 {
    margin-left: 1px;
    font-size: 15px;
    margin-top: -10px;
}

.accicon {
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
}

.uygunaraba {
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}

.uygunahazırla6 {
    color: #cccccc;
    margin-left: 40px;
    margin-top: -29px;
}

.uygunahazırla8 {
    margin-left: 34px;
    margin-top: -10px;
}

.yaziclas {
    text-decoration: none;
}

.detaylar {
    background-color: #15214a;
    width: 300px;
    height: 50px;
    font-size: 10px;
    border-radius: 10px;
    margin-top: 13px;


}


.ürünler2 {
    width: 320px;
    height: 510px;
    border-radius: 5%;
    background-color: #fff;
    margin-left: 420px;
    margin-top: -95px;
    border: 1px;
    border-style: solid;
    padding-left: 20px;
    padding-top: 10px;
    height: 550px;
    border-color: gray;

}

.yaziclas {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.uygunayap1 {
    width: 90px;
    height: 20px;
    margin-block-end: 11px;
    padding-block: 12px;
    padding-inline: 16px;
    color: rgb(21, 33, 74);
    background-color: rgba(21, 33, 74, 0.1);
    display: flex;
    margin-left: -2px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;

}

.uygunateknekirala {
    border-radius: 10%;
}


.yaziclas {
    padding-left: 105px;
    padding-top: 20px;
    font-size: 15px;
}

.detaylar2 {
    background-color: #15214a;
    margin-top: 19px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}


.uygunayap4 {
    margin-top: -5px;
}

.uygunayap5 {
    margin-top: -15px;
}

.uygunayap6 {
    color: #cccccc;
    margin-left: 37px;
    margin-top: -30px;
}

.uygunayap8 {
    margin-left: 33px;
    margin-top: -10px;
}

.ürünler3 {
    width: 320px;
    height: 510px;
    border-radius: 5%;
    background-color: #fff;
    margin-left: 800px;
    margin-top: -565px;
    border: 1px;
    border-style: solid;
    padding-left: 15px;
    padding-top: 15px;
    border-color: gray;
}

.uygunahemen1 {
    width: 90px;
    height: 20px;
    margin-block-end: 11px;
    padding-block: 12px;
    padding-inline: 16px;
    color: rgb(21, 33, 74);
    background-color: rgba(21, 33, 74, 0.1);
    display: flex;
    margin-left: -1px;
    text-align: center;
    font-size: 15px;
    font-weight: 20px;
    border-radius: 20px;
    margin-top: -1px;

}

.uygunahemen2 {
    margin-top: -6px;
}

.uygunakaravankirala {
    border-radius: 10%;

}

.star {
    width: 120px;
    height: 25px;
    margin-left: 1px;
    margin-top: -px;
}

.ürünler1 {
    border-top: 1px solid rgb(231, 232, 236);
    display: block;
    margin-left: 2px;
    margin-top: 1px;
    height: 550px;
}

.uygunahemen3 {
    margin-left: 20px;
    font-size: 17px;
    margin-top: 36px;
    margin-left: 1px;
}

.uygunaclas {
    text-decoration: none;
}

.uygunahemen4 {
    margin-left: 20px;
    font-size: 17px;
    margin-left: 3px;
    margin-top: -8px;
}

.uygunahemen5 {
    margin-left: 1px;
    font-size: 15px;
    margin-top: -10px;
}

.accion width: 100px;
height: 100px;
margin-left: 40px;
margin-top: 60px;


.uygunakaravan {
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}

.uygunahemen6 {
    color: #cccccc;
    margin-left: 40px;
    margin-top: -29px;
}

.uygunahemen8 {
    margin-left: 34px;
    margin-top: -10px;
}

.detaylar3 {
    background-color: #15214a;
    width: 300px;
    height: 50px;
    font-size: 10px;
    border-radius: 10px;
    margin-top: -6px;

}

.ürünler4 {
    width: 320px;
    height: 510px;
    border-radius: 5%;
    background-color: #fff;
    margin-left: 355px;
    margin-top: -510px;
    border: 1px;
    border-style: solid;
    padding-left: 15px;
    padding-top: 15px;
    border-color: gray;
}

.uygunayat1 {
    width: 75px;
    height: 20px;
    margin-block-end: 11px;
    padding-block: 12px;
    padding-inline: 16px;
    color: rgb(21, 33, 74);
    background-color: rgba(21, 33, 74, 0.1);
    display: flex;
    margin-left: -1px;
    text-align: center;
    font-size: 15px;
    font-weight: 20px;
    border-radius: 20px;
    margin-top: -1px;

}

.uygunayat2 {
    margin-top: -10px;
}

.uygunayatkirala {
    border-radius: 20px;

}

.star {
    width: 120px;
    height: 25px;
    margin-left: 1px;
    margin-top: -px;
}

.ürünler1 {
    border-top: 1px solid rgb(231, 232, 236);
    display: block;
    margin-left: 2px;
    margin-top: 1px;
    height: 550px;
}

.uygunayat3 {
    margin-left: 20px;
    font-size: 17px;
    margin-top: 40px;
    margin-left: 1px;
}

.uygunaclas {
    text-decoration: none;
}

.uygunayat4 {
    margin-left: 20px;
    font-size: 17px;
    margin-left: 3px;
    margin-top: -8px;
}

.uygunayat5 {
    margin-left: 1px;
    font-size: 15px;
    margin-top: -10px;
}

.accicon width: 100px;
height: 100px;
display: flex;
margin-left: 10px;
margin-top: 0px;


.uygunayat {
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}

.uygunayat6 {
    color: #cccccc;
    margin-left: 40px;
    margin-top: -29px;
}

.uygunayat8 {
    margin-left: 34px;
    margin-top: -10px;
}

.detaylar4 {
    background-color: #15214a;
    width: 300px;
    height: 50px;
    font-size: 10px;
    border-radius: 10px;
    margin-top: 7px;

}

.articles {
    width: 1429px;
    height: 550px;
    margin-left: -1130px;
    margin-right: 230px;
    border-radius: 2%;
    border: 1px;
    border-style: solid;
    border-color: rgb(231, 232, 236);
    margin-top: 70px;
}

.articles1 {
    width: 530px;
}

.articlesresim {
    width: 200px;
    margin-top: 230px;
    margin-left: 190px;
}

.articlesyazi1 {
    margin-left: 200px;
    font-size: 20px;
}

.articlesyazi2 {
    margin-left: 200px;
    color: gray;
    font-size: 18px;
}

.artciles {
    width: 1450px;
    height: 550px;
    margin-left: -1130px;
    margin-right: 230px;
    border-radius: 2%;
    border: 1px;
    border-style: solid;
    border-color: rgb(231, 232, 236);
    margin-top: 70px;
}

.artciles1 {
    width: 550px;
    display: inline-block;
}

.artcilesresim {
    width: 200px;
    margin-top: 200px;
    margin-left: 200px;
}

.artciles10 {
    margin-left: 200px;
    color: #15214a;
    font-size: 20px;
}

.artciles11 {
    margin-left: 200px;
    color: gray;
    font-size: 15px;
}

.art {
    width: 0px;
    height: 500px;
    border: 1px solid rgb(231, 232, 236);
    margin-left: 700px;
    margin-top: -340px;
}

.art2 {
    width: 1300px;
    font-size: 13px;
}

.isimart {
    margin-left: 800px;
    margin-top: -350px;
    color: #15214a;
}

.isimart1 {
    margin-left: 800px;
    margin-top: -10px;

}

.isimart3 {
    margin-left: 800px;
    color: gray;
    font-size: 19px;
}

.button1 {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 50%;
    background-color: #15214a;
    color: white;

}

.button2 {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 50%;
    background-color: #15214a;
    margin-left: 10px;
    color: white;
}

.buttonlar {
    display: flex;
    margin-right: 280px;
    margin-top: 30px;
    margin-left: 800px;
}

.bilgilendirmediv{
    width: 1600px;
    height: 500px;
    border: 1px solid black;
    margin-left: -1200px;
}
.alinkayar{
    text-decoration: none;
    color: black;
    margin-left: 16px;
}
.alinkayar2{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.ulayar1{
    list-style-type: none;
    margin-top: 30px;
    margin-left: 38px;
    padding-left: 20px;
}
.liayar1{
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.bilgilendirmediv1{
    width: 1600px;
    height: 500px;
    border: 1px solid black;
    margin-left: 400px;
    margin-top: -140px;
}
.alinkayar1{
    text-decoration: none;
    color: black;
    margin-left: 16px;
}
.alinkayar3{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.ulayarr2{
    list-style-type: none;
    margin-top: 30px;
    margin-left: 38px;
    padding-left: 20px;
}
.liayarr1{
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bilgilendirmediv3{
    width: 1600px;
    height: 500px;
    border: 1px solid black;
    margin-left: -1200px;
}
.alinkayar{
    text-decoration: none;
    color: black;
    margin-left: 16px;
}
.alinkayar4{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.ulayar3{
    list-style-type: none;
    margin-top: 30px;
    margin-left: 38px;
    padding-left: 20px;
}
.liayarrr2{
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;